
    <div class="modal fade" id="login_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Log in</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                <form action="{% url 'authentication:login_modal' %}" method="POST" id="ajax_login">
                    <div class="modal-body">
                        {{ login_modal }}
                     </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-md-8 mx-auto social-container my-2 order-md-1">
                                    <button class="btn btn-primary mb-2">
                                        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                Log In
                            </button>
                </form>
                                OR
                            <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#register_modal"
                                data-bs-dismiss="modal">
                                Register
                            </button>
                        </div>
            </div>
        </div>
    </div>
